/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #5E4FF1;
  --ion-color-primary-shade: #5346d4;
  --ion-color-primary-tint: #6e61f2;

  --ion-color-secondary: #002E6E;
  --ion-color-secondary-shade: #24145d;
  --ion-color-secondary-tint: #3e2e79;

  --ion-color-tertiary: #158FFF;
  --ion-color-tertiary-shade: #dadcdf;
  --ion-color-tertiary-tint: #f9fbfd;
  --ion-color-tertiary-light: #EFF8FF;

  --ion-color-success: #27AE60;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-success-light: #EDFFF5;

  --ion-color-warning: #FAA417;
  --ion-color-warning-shade: #FAA41728;
  --ion-color-warning-tint: #ffca22;
  --ion-color-warning-light: #fcf7eb;

  --ion-color-danger: #eb445a;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  --ion-color-danger-light: #fcebeb;

  --ion-color-medium: #92949c;
  --ion-color-medium-shade: #ECEEF2;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-dark: #242526;
  --ion-color-dark-shade: #202121;
  --ion-color-dark-tint: #3a3b3c;
}

body {
  --ion-background-color: #ffffff;
  --ion-background-shade: #E0E0E0;
  --ion-text-color: var(--ion-color-dark);
  --ion-border-color: #D0D5DD;
}
